@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "WIN95";
    src: url("./fonts/w95fa.woff");
}

@font-face {
    font-family: "WIN95-BOLD";
    src: url("./fonts/w95fa-bold.woff");
}

#body {
    background-image: url("./assets/tiled.png");
    background-position: center;
    background-size: cover;
}

.navbar-outer {
    @apply absolute inline-flex justify-center z-0 h-[25%] w-1/5 bg-[#c0c7c8] min-w-[288px] min-h-[199px]
    border-r-black border-b-black border-l-white border-t-white border-solid border-2
}

.navbar-inner {
    @apply relative inline-block w-[98%] h-[99%] font-win95
}

.navbar-button {
    @apply relative inline-block hover:bg-[#0000a8] hover:text-white active:bg-gray-200 active:text-black w-full p-1
}

.start-button {
    @apply relative border-solid border-b-black border-r-black border-l-white border-t-white border-2 
    m-1 h-[84%] w-24 hover:bg-gray-300 active:border-t-black active:border-l-black active:border-r-white 
    active:border-b-white
}

.window-outer {
    @apply flex justify-center relative min-h-fit bg-[#c0c7c8] border-2 border-solid border-b-black border-r-black
    border-t-white border-l-white mx-auto
}

.window-inner-with-bar {
    @apply relative font-win95 border-2 border-solid border-t-black border-l-black bg-white w-[99%] bottom-1 mt-11 p-1
}

.window-inner-no-bar {
    @apply relative font-win95 border-2 border-solid border-t-black border-l-black bg-white w-[99%] my-1 p-1
}

.title-bar {
    @apply absolute inline-block font-win95bold text-white bg-[#0000a8] w-[99%] h-8 top-1
}

.custom-button {
    @apply relative border-solid border-b-black border-r-black border-t-white border-l-white border-2 bg-[#c0c7c8] 
    hover:bg-gray-300 active:bg-gray-300 active:border-t-black active:border-l-black active:border-r-white 
    active:border-b-white h-6 w-6 
}